<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='Elements/css/style.css')}}">
    </head>

    <body>
        <div class="form">
            <center><h3>{{question}}</h3></a></form></center>
            <center><h3>Score:{{temp[0]}}</h3></a></form></center>
            <center><h5>Sources:</h4></a></form></center>
            <table style="width:100%" align="center">
            <tr>
                <td align = "center">fact</td>
                <td align = "center">key</td>
                <td align = "center">source</td>
                <td align = "center">speaker</td>
            </tr>
            {% for i in range(0, length) %}
            <tr>
                <td align="center">{{temp[1][i]}}</td>
                <td align="center">{{temp[2][i]}}</td>
                <td align="center">{{temp[3][i]}}</td>
                <td align="center">{{temp[4][i]}}</td>
            </tr>
            {% endfor %}
            </table><br/>
        </div>
        <form action = "main" method = "post" class = "form">
            <div class = "container" style = "width:800px; margin:0 auto;">
                <input type="text" name="search" placeholder="Do you have other information to verify?">
                <input name = "Submit" type = "submit" value = "Submit">
                <input name = "Submit" type = "reset" value = "Clear">
            </div>
        </form>
    </body>
</html>