<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='Elements/css/style.css')}}">
    </head>

    <header>
      <div class="container">
        <center><h1>
          <img src="https://www.dropbox.com/s/4bl0pk081zloxa7/notedex.png?raw=1" width="300" height="150"/>
        </h1></center>
      </div>
    </header>

    <body style="
    background-image: linear-gradient(45deg, rgba(194, 233, 221, .5) 90%, rgba(104, 119, 132, .5)), linear-gradient(-45deg, #494d71, hsla(77, 47%, 81%, .5) 80%);
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: Open Sans;
    color: black;
    margin: 0;
    padding: 0">

        <div class="form">
          <center> 
            <h4> Summary </h4>
            {% block content %}
              {% for summary_sentence in summary_sentences %}
                {{summary_sentence}}
              {% endfor %}
            {% endblock content %}
          </center>
          <p></p>
            <center><h4>Source</h4></center>
              {{source}}
              <center><form action = "http://0.0.0.0:80/uploader" method = "POST"
                 enctype = "multipart/form-data">
                 <input type = "file" name = "file" />
                 <input type = "submit"/>
              </form></center>
            <table style="width:100%" align="center">
        </div>
        <section class="content">
          <header>
          </header>
            <div class="flash">{{ message }}</div>

        </section>

    </body>
</html>
