<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='Elements/css/style.css')}}">
    </head>
        <div class="form">
          <center> 
            <h4> Summary </h4>
            {% block content %}
              {% for summary_sentence in summary_sentences %}
                {{summary_sentence}}
              {% endfor %}
            {% endblock content %}
          </center>
          <p></p>
            <center><h4>Source</h4></center>
              {{source}}
              <center><form action = "http://0.0.0.0:80/uploader" method = "POST"
                 enctype = "multipart/form-data">
                 <input type = "file" name = "file" />
                 <input type = "submit"/>
              </form></center>
            <table style="width:100%" align="center">
        </div>
        <section class="content">
          <header>
          </header>
            <div class="flash">{{ message }}</div>

        </section>

        <form action = "main" method = "post" class = "form">
            <div class = "container" style = "width:800px; margin:0 auto;">
                <input type="text" name="search" placeholder="Do you have another text?">
                <input name = "Submit" type = "submit" value = "Submit">
                <input name = "Submit" type = "reset" value = "Clear">
            </div>
        </form>
    </body>
</html>
