<!DOCTYPE html>


<html>
    <head>
        <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='Elements/css/style.css')}}">
    </head>
    <body>
        <form action = "main" method = "post" class = "form">
            <div class = "container" style = "width:800px; margin:0 auto;">
                <input type="text" name="search" placeholder="Input if you have a text file">
                <input name = "Submit" type = "submit" value = "Submit / Audio file">
                <input name = "Submit" type = "reset" value = "Clear">
            </div>
        </form>
    </body>

</html>
