<!doctype html>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='Elements/css/style.css')}}">
    </head>
    <center>
    <div class = "titlebar">
        <label><h1> 404 NOT FOUND.    </h1></label>
    </div>
    <form action = "main" method = "post" class = "form">
        <div class = "container" style = "width:800px; margin:0 auto;">
            <input type="text" name="search" placeholder="Instead, do you have other information to verify?">
            <input name = "Submit" type = "submit" value = "Submit">
            <input name = "Submit" type = "reset" value = "Clear">
        </div>
    </form>
    </center>
</html>
